{% extends 'base.html' %} 
{% load static %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/cover.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>


{% block content %}

  <main role="main" class="container">
    <div class="jumbotron">
     </br></br></br>
      <h1>About YOUTUVEMIND</h1>
      <P>The website was launched to study the impact of biased perception of media reports on fairness evaluation.
      <p>In particular, YouTube is one of the biggest media, with more than 2 billion users worldwide. Because of its huge influence on society, YouTube should also seriously consider the fact that it can favor users' decisions simply with algorithms to increase advertising exposure. This study began with these concerns.</p> 
      </P>
    </div>
  </main>
  
{% endblock %}

<footer class="mastfoot mt-auto">
  <div class="text-left">
    <p>Copyright@2020 <a href="#">YOUTUVEMIND</a>, by <a href=#">Junsung</a>.</p>
  </div>
</footer>
</div>
</body>